		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p class="copyright">Copyright &copy; intertech {{ 'now' | date: "%Y" }}</p>
					</div>
					<div class="col-md-6">
						<div class="quicklinks">
							<ul class="list-inline">
								<li><a href="{% link privacy.html %}">Privacy Policy</a></li>
								<li><a href="{% link terms.html %}">Terms of Use</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="/assets/js/main.js"></script>
	</body>
