			<section class="section--objectives">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Our Objectives</h2>
							<h3>What does intertech LGBT+ Diversity Forum do?</h3>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
							</span>
							
							<h4>Support LGBT+<br>Professional Development</h4>
							<ul class="list-plain text-muted text-justify">
								<li>Creating networking opportunities for members to build professional relationships</li>
								<li>Hosting educational events which focus on LGBT+ issues in their workplaces and broader professional development related to technology</li>
							</ul>
						</div>
						<div class="col-md-4">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-user fa-stack-1x fa-inverse"></i>
							</span>
							
							<h4>Accelerate LGBT+<br>Employee Networks</h4>
							<ul class="list-plain text-muted text-justify">
								<li>Facilitating connections between LGBT+ employee networks and creating forums to share best practice.</li>
								<li>Encouraging the pooling of resources in development and rollout of diversity and inclusion initiatives across companies.</li>
							</ul>
						</div>
						<div class="col-md-4">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-industry fa-stack-1x fa-inverse"></i>
							</span>
							
							<h4>Engage with the<br>Technology Industry</h4>
							<ul class="list-plain text-muted text-justify">
								<li>Raising the profile, inspiring and promoting the achievements of LGBT+ professionals and groups of LGBT+ people within the tech industry.</li>
								<li>Maintaining mutually beneficial relationships with other relevant external LGBT+ groups and networks.</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
