
.btn {
	border: 0;
	@include border-radius(5px);
	font-family: $font-primary;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	padding: 10px 20px;
	background-color: $colour-primary;
	@include box-shadow(0 1px 3px rgba(0, 0, 0, .08));
	@include transition(all .15s ease);

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: #fff;
		background-color: $colour-secondary;
		@include transform(translateY(-1px));
		@include box-shadow(0 2px 6px rgba(0, 0, 0, .1));
	}

	&[disabled],
	&.disabled {
		cursor: not-allowed;
		text-decoration: line-through;
		background: $colour-muted;
	}
}

.btn-xl {
	padding: 20px 40px;
	@include border-radius(5px);
	font-size: 18px;
	text-transform: uppercase;
}


.btn-particles {
	@include box-shadow(none);
	position: relative;

	&:focus {
		outline: none;
	}
}

.particles {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	@include transform(translate3d(-50%, -50%, 0));
}

.particles-wrapper {
	position: relative;
	display: inline-block;
    overflow: hidden;
}
