
.page__header--events {
	.photos {
		height: 40vh;
		width: 50%;
		float: left;
		position: relative;
		margin: 10vh 0 0;

		h3 {
			background: #fff;   
			color: #9face6;
			padding: 0 15px;
			line-height: 40px;
			@include border-radius(5px);
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(rotate(10deg));
			@include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
		}

		.photo {
			top: 0;
			left: 0;
			position: absolute;
			padding: 10px;
			background: #fff;
			display: inline-block;
			@include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
			@include border-radius(5px);

			img {
				display: block;
			}

			@for $i from 1 through 100 {
				&:nth-child(#{$i}) {
					$width: (random() * 100px) + ($i * 10px) + 100px;
					$angle: random() * 10 * if($i % 2 == 0, -1, 1);

					top: percentage(($i % 5) / 6);
					left: percentage(0.5 + (($i % 5) / 5) * 0.4 * if($i % 2 == 0, -1, 1));
					/*left: percentage(($i + 1 % 5) / 5);*/
					/*top: percentage(random() * 0.5);*/
					/*left: percentage(0.5 + random() * 0.25 * if($i % 2 == 0, -1, 1));*/
					@include transform(rotate(#{$angle}deg));
					margin: 0 0 0 -#{$width / 2};

					img {
						width: #{$width};
					}
				}
			}
		}
	}

	.signup {
		width: 40%;
		float: right;
		margin: 10vh 0 0;
		color: #fff;

		form {
			p {
			}

			input {
				width: 100%;
				padding: 20px;
			}

			button {
				&:hover {
					background-color: #fff;
					color: $colour-primary;
				}
			}
		}

		.social-buttons {
			margin-top: 30px;

			a {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.section--events {
	.event {
		overflow: hidden;
		margin: 0 0 30px;
		text-align: center;
		padding: 15px;
		background: #fafafa;
		background: linear-gradient(125deg, #f6f6f6, #fafafa);
		@include border-radius(5px); 
		@include transition(all ease .15s);
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .08), 0 2px 6px rgba(0, 0, 0, .1));

		.image {
			display: block;
			height: 200px;
			margin: 0 0 10px;
			background-color: #fff;
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}

		h4 {
			margin: 0 0 5px;
			line-height: 20px;
			height: 40px;
			overflow: hidden;
			text-transform: none;
			text-overflow: ellipsis;
		}

		p {
			margin: 0;
			font-style: italic;
			font-family: $font-secondary;
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			@include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15));
			@include transform(translateY(-2px));
		}
	}
}

.page__header--event {
	text-align: center;

	h2 {
		padding: 0 15%;
	}

	p {
		margin-bottom: 35px;
	}

	.main-image {
		padding: 15px;
		display: inline-block;
		background: #fff;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .08));
		@include border-radius(5px);
		margin: 0 0 35px;

		img {
			max-height: 35vh;
		}
	}

	.register {

	}
}

.section--event {
	.location {
		i {
			margin-right: 10px;
		}
	}

	.tags {
		margin: 50px 0 0;
		padding: 0;

		li {
			margin: 0 5px 5px 0;
			padding: 0;
			display: inline-block;
		}
	}
}
