
footer {
	padding: 25px 0;
	background-image: url(/assets/images/logos/intertech-grey.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 40px;

	.copyright {
		font-family: $font-primary;
		line-height: 40px;
	}

	.quicklinks {
		text-align: right;
		font-family: $font-primary;
		line-height: 40px;
	}

}
